.header-section {
  width: 100%;
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/images/Mountain.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header-content {
  max-width: 360px;
  width: 100%;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-content .name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 26px;
  color: white;
  letter-spacing: 5px;
}
.header-content .name-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  letter-spacing: 7px;
  margin-bottom: 10%;
}

.input-content {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.input-content .input-box {
  max-width: 600px;
  width: 100%;
  min-height: 65px;
  text-align: center;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 26px;
  letter-spacing: 3px;
  font-weight: 400;
}
.input-content .search-btn {
  width: 150px;
  height: 65px;
  color: white;
  background-color: rgb(0, 137, 250);
  font-family: "Aleo", serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
  letter-spacing: 2px;
  border: none;
  border-radius: 0 8px 8px 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.input-content .search-btn:hover {
  background-color: rgba(0, 17, 255, 0.452);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.scroll {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  width: 120px;
  height: 30px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 3px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}
.scroll .fa-angle-down {
  font-size: 20px;
}

.nav-container {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 137, 250);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-container .nav-content {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container .logo-type {
  width: 185px;
  height: 30px;
  color: white;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.5px;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container .nav-ul {
  max-width: 550px;
  width: 100%;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.nav-container a {
  text-decoration: none;
  color: white;
}
.nav-container a:hover {
  color: rgba(0, 17, 255, 0.705);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.nav-container .nav-li {
  width: 150px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Aleo", serif;
  font-weight: 400;
}

.section-1-container {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/images/Houses.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section-1-container .section-content {
  max-width: 650px;
  width: 100%;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-1-container .big-text {
  max-width: 288px;
  width: 100%;
  min-height: 30px;
  color: white;
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 7%;
  margin-top: 10%;
}
.section-1-container .small-text {
  max-width: 560px;
  width: 100%;
  min-height: 160px;
  color: white;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: 100;
}
.section-1-container .explorebtn {
  width: 228px;
  height: 63px;
  color: white;
  background-color: rgb(0, 137, 250);
  font-family: "Aleo", serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
  letter-spacing: 2px;
  border: none;
  border-radius: 6px;
  margin-top: 7%;
}
.section-1-container .explorebtn:hover {
  background-color: rgba(0, 17, 255, 0.452);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.pic-container {
  max-width: 550px;
  width: 100%;
  min-height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pic-container .pic-house {
  max-width: 350px;
  width: 100%;
  min-height: 220px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  margin-bottom: 2%;
}
.pic-container .pic-mountain-small {
  max-width: 350px;
  width: 100%;
  min-height: 220px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.section-2-container {
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.section-2-container .section-2-content {
  max-width: 700px;
  width: 100%;
  min-height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-magnifying-glass {
  color: #5474FD;
  font-size: 50px;
}

.fa-circle-check {
  color: #FF6363;
  font-size: 50px;
}

.fa-thumbs-up {
  color: #00A2FF;
  font-size: 50px;
}

.small-text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Aleo", serif;
  line-height: 26px;
  font-size: 36px;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 880px;
  width: 100%;
}

.img-bow {
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 20%;
}

.section-3-container {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/images/Luxury.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section-3-container .content-left {
  width: 50%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7%;
}
.section-3-container .box-text {
  max-width: 550px;
  width: 100%;
  min-height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(35, 35, 35, 0.9176470588);
  padding: 25px;
}

.spain {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 26px;
  color: #e8e8e8;
  font-weight: 400;
  margin-bottom: 15px;
}

.madrid {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #e8e8e8;
  font-weight: 400;
  margin-bottom: 15px;
}

.info-text-spain {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
  font-weight: 100;
}

.book-now-btn {
  width: 200px;
  height: 50px;
  margin-top: 10%;
  color: white;
  background-color: rgb(0, 137, 250);
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  border: none;
}

.book-now-btn:hover {
  background-color: rgba(0, 17, 255, 0.452);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section-4-container {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/images/Mountain-and-water.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section-4-container .content-right {
  width: 50%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7%;
}
.section-4-container .box-text-right {
  max-width: 550px;
  width: 100%;
  min-height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(35, 35, 35, 0.9176470588);
  padding: 25px;
}

.spain-1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #e8e8e8;
  font-weight: 400;
  margin-bottom: 15px;
}

.madrid-1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #E8E8E8;
  font-weight: 400;
  margin-bottom: 15px;
}

.info-text-spain-1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
  font-weight: 100;
}

.book-now-1-btn {
  width: 200px;
  height: 50px;
  margin-top: 10%;
  color: white;
  background-color: rgb(0, 137, 250);
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  border: none;
}

.book-now-1-btn:hover {
  background-color: rgba(0, 17, 255, 0.452);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
  height: 100vh;
  margin: auto;
}